<head>
<style>
.flex-container {
  height: 700px;
  margin-top: 50px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  /* align-items: center;  */
  /* align-content: center; */
}

</style>
</head>

<h1>Shelters in your area!</h1>

<div class="flex-container">
<% @current_user.local_shelters.each do |shelter| %>
    <div class="flex-item-<%=shelter.id%>">
    
    <%= link_to shelter_path(shelter) do %>
      <%=  image_tag shelter.image_url,height: 300, class: "img-responsive"%>
    <% end %>
    <h2><%= link_to shelter.name.titleize, shelter_path(shelter) %></h2>
    <br>
    </div>
<% end %>
</div>
<br><br>

