<head>
<style>
.grid-container {
  display: grid;
}
</style>
</head>



<div class="grid-container">
<% @pets.each do |pet| %>
    <div class="grid-item">
    <%= content_tag :h2, pet.name.titleize %>
    <%= image_tag pet.image_url, class: "img-responsive" %><br>
    <%= link_to "See More About Me!", pet_path(pet) %>
    </div>
<% end %>
</div>
